.container-button{
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    width: auto;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.colorFondoA {
    background-color: var(--color-a);
}

.colorFondoI {
    background-color: var(--color-i);
}

.colorFondoK {
    background-color: var(--color-k);
}

.colorFondoC {
    background-color: var(--color-c);
}

.colorFondoH {
    background-color: var(--color-h);
}

.colorHoverB:hover {
    background-color: var(--color-b);
    color: var(--color-k);
}

.colorHoverJ:hover {
    background-color: var(--color-j);
    color: white;
}

.colorHoverE:hover {
    background-color: var(--color-e);
    color: var(--color-a);
}

.colorHoverD:hover {
    background-color: var(--color-d);
    color: var(--color-f);
}

.colorA {
    color: var(--color-a);
}

.colorD {
    color: var(--color-d);
}

.colorF {
    color: var(--color-f);
}

.colorGris {
    color: gray;
}

.colorNegro {
    color: var(--negro);
}

.borderNegro {
    border: solid 1px black;
}


@media screen and (min-width: 576px) {
    .container-button{
        width: 120px;
    }
}