:root {
    --color-a: #7c5dfa;
    --color-b: #9277ff;
    --color-c: #1e2139;
    --color-d: #252945;
    --color-e: #dfe3fa;
    --color-f: #888eb0;
    --color-g: #7e88c3;
    --color-h: #0c0e16;
    --color-i: #ec5757;
    --color-j: #ff9797;
    --color-k: #f8f8fb;
    --color-l: #141625;
}

.dark {
    background-color: var(--color-c);
    color: var(--color-k);
}

.ligth {
    background-color: var(--color-e);
    color: var(--color-c);
}
