.background-color-light{
    background-color: white;
}

.background-color-dark{
    background-color: var(--color-d);
}

@media screen and (max-width: 576px) {
    .container-card-invoice__detail{
        margin-top: 20px!important;
    }
}
/*
@media screen and (min-width: 768px) {
    .container-card-invoice{
        width: 50%;
    }
} */

/* @media screen and (min-width: 992px) {
    .container-card-invoice{
        width: 90%;
    }
}

@media screen and (min-width: 1200px) {
    .container-card-invoice{
        width: 90%;
    }
}

@media screen and (min-width: 1400px) {
    .container-card-invoice{
        width: 90%;
    }
} */