:root {
    --box-shadow-dark: rgb(29, 27, 31) 0px 8px 24px;
    --box-shadow-ligth: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --color-background-ligth: #ffffff;
}

.container-home{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-home__filter{
    width: 90%;
}

.container-home__invoices{
    width: 90%;
}

.boxShadowlight{
    background-color: var(--color-background-ligth);
    box-shadow: var(--box-shadow-ligth);
}

.boxShadowdark{
    background-color: #252945;
    box-shadow: var(--box-shadow-dark);
}

@media screen and (min-width: 576px) {
    .container-home__invoices{
        width: 90%;
    }

    .container-home__filter{
        width: 90%;
    }

    .lista-opciones{
        right: 150px!important;
    }
}

@media screen and (min-width: 768px) {
    .container-home__invoices{
        width: 85%;
    }

    .container-home__filter{
        width: 85%;
    }

    .lista-opciones{
        right: 200px!important;
    }
}

@media screen and (min-width: 992px) {
    .container-home__invoices{
        width: 70%;
    }

    .container-home__filter{
        width: 70%;
    }

    .lista-opciones{
        right: 290px!important;
    }
}

@media screen and (min-width: 1200px) {
    .container-home__invoices{
        width: 60%;
    }

    .container-home__filter{
        width: 60%;
    }

    .lista-opciones{
        right: 390px!important;
    }
}

@media screen and (min-width: 1400px) {
    .lista-opciones{
        right: 490px!important;
    }
}